--extra-index-url https://download.pytorch.org/whl/cu118   # 替换为你的 CUDA 版本


clip-benchmark==1.6.0
einops==0.6.1
huggingface-hub
jieba
numpy==1.23.5
onnx==1.8.1
onnx-simplifier==0.3.5
onnxruntime==1.8.0
open-clip-torch==2.2.0
opencv-python==4.8.0.76
pytorch-warmup==0.1.1
pytorchvideo==0.1.5
protobuf==3.20.3
ruamel.yaml
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
torch-geometric==2.4.0
torch-scatter==2.1.2
torch-sparse==0.6.18
transformers==4.45.2
timm==0.9.7
triton==3.0.0
